version: "3.9"
services:
  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build: .
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  2girls1flag_nginx:
    image: nginx:alpine
    restart: always
    ports:
        - '2929:80'
    volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        - ./frontend/:/var/www/2girls1flag:ro

volumes:
  db_data:
  redis_data:

